.header {
	position: fixed;
	left: 0;
	right: 0;
	top: -73px;
	z-index: 5;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	background-color: $color-white;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 20px;
	margin-left: 20px;
	max-width: 100%;
}

.header__logo {
	padding: 5px 10px;
	width: 200px;
	height: 33px;

	&:focus {
		outline: 1px dotted;
		outline-offset: 0;
	}
}

.logo {
	display: block;
}

.header__nav {
	position: relative;
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-between;
	max-width: 590px;
}

.header-nav__link {
	padding: 8px 5px;
	font-weight: 700;
	font-size: 13px;
	line-height: 1;
	letter-spacing: 0.93px;
	text-transform: uppercase;
	color: $color-link;
	transition: 0s;

	&:focus {
		outline: 1px dotted;
		outline-offset: 0;
	}
}

.header-nav__slide {
	position: absolute;
	bottom: 0;
	height: 2px;
	background-color: $color-green;
}
