header.header
	.header__inner
		a.header__logo.logo(href="/")
			+svg('logo-dark')

		nav.header__nav.header-nav
			a.header-nav__link.is-current.is-active(href="/about") О компании
			a.header-nav__link(href="/projectst") Портфолио
			a.header-nav__link(href="/vacancies") Работа у нас
			a.header-nav__link(href="/contacts") Контакты
			.header-nav__slide
